# pandas fundamentals exercises

---
These are introductory exercises in Pandas with focus in **syntax, DataFrame, indexing, data selection** and **data cleaning**.

<p class = "alert alert-info" role="alert"><b>Note</b> that there are usually many ways to achieve same results using operations in pandas. Feel free to investigate several ways. </p>

<p class = "alert alert-info" role="alert"><b>Note</b> that in cases when you start to repeat code, try not to. Create functions to reuse code instead. </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to use <b>descriptive variable, function, index </b> and <b> column names</b> in order to get readable code </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your input questions in a pedagogical way to guide the user

The number of stars (\*), (\*\*), (\*\*\*) denotes the difficulty level of the task

---

## 1. Cities in Sweden - create dataset (*)

Create this DataFrame from scratch: 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Malmö     |       347949 |
|  1 | Stockholm |       975551 |
|  2 | Uppsala   |       233839 |
|  3 | Göteborg  |       583056 |

&nbsp; a) Use your DataFrame to print out all the cities. (*)

&nbsp; b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the three largest cities. (*)

&nbsp; e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city. 


<details>

<summary>Answer</summary>

a) 

```
0        Malmö
1    Stockholm
2      Uppsala
3     Göteborg
```

b)

|    | Kommun   |   Population |
|---:|:---------|-------------:|
|  3 | Göteborg |       583056 |

c) 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Stockholm |       975551 |
|  1 | Göteborg  |       583056 |
|  2 | Malmö     |       347949 |
|  3 | Uppsala   |       233839 |


d)

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Stockholm |       975551 |
|  1 | Göteborg  |       583056 |
|  2 | Malmö     |       347949 |

e)

|    | Kommun    |   Population |   Population (%) |
|---:|:----------|-------------:|-----------------:|
|  0 | Stockholm |       975551 |              9.4 |
|  1 | Göteborg  |       583056 |              5.6 |
|  2 | Malmö     |       347949 |              3.4 |
|  3 | Uppsala   |       233839 |              2.3 |

</details>

In [13]:
import pandas as pd
import numpy as np
# question a)
cities_dict = dict(cities = ["Malmö", "Stockholm", "Göteborg", "Uppsala"],
                    population =[347949, 97551, 233839, 583056])
                     # creating dictionary to be able to create a series

cities_series = pd.Series(cities_dict) # created a pandas series so now i will create a data frame

df_cities = pd.DataFrame(cities_series) # This has now created a data frame variable

In [14]:
# question b)
df_cities.loc["Göteborg"] # using the .loc to select the Göteborg row

KeyError: 'Göteborg'

In [ ]:
# question c)
sort_population = df_cities.sort_values(by= "Population", ascending = False) # sorting into population order, i defined population even though it is the only variable
sort_population

           Population
Stockholm      975551
Göteborg       583056
Malmö          347949
Uppsala        233839

In [ ]:
sort_population.reset_index()

       index  Population
0  Stockholm      975551
1   Göteborg      583056
2      Malmö      347949
3    Uppsala      233839

In [ ]:
# question d)
df_remove_3largest = df_cities[df_cities["Population"] < 250000]
df_remove_3largest

         Population
Uppsala      233839

In [ ]:
# question e)
Population_percent = pd.Series(df_cities["Population"] / 10379295 * 100).round(1) # This will create a series to add to the data frame.

df_cities = pd.DataFrame({"Population": cities_series, "Population_%": Population_percent})

df_cities.reset_index()

       index  Population  Population_%
0      Malmö      347949           3.4
1  Stockholm      975551           9.4
2    Uppsala      233839           2.3
3   Göteborg      583056           5.6

---

## 2. Cities in Sweden - real dataset (*)

Go into [this page][scb_pop50], scroll down and download the Excel file containing Swedish population dataset from SCB.

[scb_pop50]: https://www.scb.se/hitta-statistik/statistik-efter-amne/befolkning/befolkningens-sammansattning/befolkningsstatistik/pong/tabell-och-diagram/topplistor-kommuner/folkmangd-topp-50/

&nbsp; a) Read in the tab "Totalt" into a DataFrame and start exploring the data with some simple explorations such as

```python
df.head()
df.info()
df.describe()
```

Feel free to do more explorations. (*)

&nbsp; b) Clean your data so that the head looks like this: (*)


|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|
|  0 |          83 |          84 | Ale      |            31868 |            31402 |     1.48398  |
|  1 |          64 |          64 | Alingsås |            41602 |            41420 |     0.439401 |
|  2 |         123 |         123 | Alvesta  |            20224 |            20134 |     0.447005 |
|  3 |         255 |         255 | Aneby    |             6821 |             6848 |    -0.394276 |
|  4 |         169 |         167 | Arboga   |            14039 |            14087 |    -0.34074  |

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the five smallest cities. (*)

&nbsp; e) Use the DataFrame to calculate Sweden's population in 2019 and 2020. (*)

&nbsp; f) Plot a bar chart for the five largest cities and the five smallest cities. (*) 

<details>

<summary>Hint</summary>

a) Use
```python
pd.read_excel(path, header = ..., usecols="Letter1:LetterN", sheet_name="...")
```

</details>

<details>

<summary>Answer</summary>

b)

|    | Kommun   |   Population |
|---:|:---------|-------------:|
|  3 | Göteborg |       583056 |

c) 


|    |   Rang 2020 |   Rang 2019 | Kommun    |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring |
|---:|------------:|------------:|:----------|-----------------:|-----------------:|-------------:|
|  0 |           1 |           1 | Stockholm |           975551 |           974073 |     0.151734 |
|  1 |           2 |           2 | Göteborg  |           583056 |           579281 |     0.65167  |
|  2 |           3 |           3 | Malmö     |           347949 |           344166 |     1.09918  |
|  3 |           4 |           4 | Uppsala   |           233839 |           230767 |     1.33121  |
|  4 |           5 |           5 | Linköping |           164616 |           163051 |     0.959822 |


d)

|     |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring |
|----:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|
| 289 |         290 |         290 | Bjurholm |             2387 |             2408 |    -0.872093 |
| 288 |         289 |         289 | Sorsele  |             2442 |             2489 |    -1.88831  |
| 287 |         288 |         288 | Dorotea  |             2498 |             2551 |    -2.07762  |
| 286 |         287 |         287 | Arjeplog |             2718 |             2785 |    -2.40575  |
| 285 |         286 |         286 | Åsele    |             2805 |             2794 |     0.393701 |

e)

```
Populationen i Sverige 2020: 10379295
Populationen i Sverige 2019: 10327589
```

f)

<img align="left" src="../assets/city_sizes.png" height="200"/>

</details>

In [ ]:
import pandas as pnd
import matplotlib as plt
import seaborn as sns

df_pop = pd.read_excel("../Data/komtopp50_2020.xlsx", skiprows = 6)
df_pop.head()

   2020  2019 Unnamed: 2  2020.1  2019.1  Unnamed: 5
0     1     1  Stockholm  975551  974073        1478
1     2     2   Göteborg  583056  579281        3775
2     3     3      Malmö  347949  344166        3783
3     4     4    Uppsala  233839  230767        3072
4     5     5  Linköping  164616  163051        1565

In [ ]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  54 non-null     object
 1   Unnamed: 1  51 non-null     float64
 2   Unnamed: 2  51 non-null     object
 3   Unnamed: 3  52 non-null     object
 4   Unnamed: 4  51 non-null     float64
 5   Unnamed: 5  51 non-null     object
dtypes: float64(2), object(4)
memory usage: 2.8+ KB

In [ ]:
df_pop.describe()

        Unnamed: 1     Unnamed: 4
count    51.000000      51.000000
mean     64.588235  121353.627451
std     279.518599  149002.409627
min       1.000000    2019.000000
25%      13.500000   61154.000000
50%      26.000000   84395.000000
75%      38.500000  113013.500000
max    2019.000000  974073.000000

In [ ]:
df_pop.shape

(56, 6)

In [ ]:
df_pop.rename(
    columns={"Unnamed: 0" : "Range 2020", "Unnamed: 1" : "Range 2019", "Unnamed: 2" : "County", 
    "Unnamed: 3" : "Population 2020", "Unnamed: 4" : "Population 2019", "Unnamed: 5" : "Difference"},inplace=True,) # replacing the titles of the columns

df_pop = df_pop.iloc[6:].reset_index()
df_pop

,index,Range 2020,Range 2019,County,Population 2020,Population 2019,Difference
0,6,1,1.0,Stockholm,975551,974073.0,1478
1,7,2,2.0,Göteborg,583056,579281.0,3775
2,8,3,3.0,Malmö,347949,344166.0,3783
3,9,4,4.0,Uppsala,233839,230767.0,3072
4,10,5,5.0,Linköping,164616,163051.0,1565
5,11,6,6.0,Örebro,156381,155696.0,685
6,12,7,7.0,Västerås,155551,154049.0,1502
7,13,8,8.0,Helsingborg,149280,147734.0,1546
8,14,9,9.0,Norrköping,143478,143171.0,307
9,15,10,10.0,Jönköping,142427,141081.0,1346
10,16,11,11.0,Umeå,130224,128901.0,1323
11,17,12,12.0,Lund,125941,124935.0,1006
12,18,13,13.0,Borås,113714,113179.0,535
13,19,14,14.0,Huddinge,113234,112848.0,386
14,20,15,15.0,Eskilstuna,106975,106859.0,116
15,21,16,16.0,Nacka,106505,105189.0,1316
16,22,17,17.0,Halmstad,103754,102767.0,987
17,23,18,18.0,Gävle,102904,102418.0,486
18,24,19,20.0,Södertälje,100111,98979.0,1132
19,25,20,19.0,Sundsvall,99439,99449.0,-10
20,26,21,22.0,Växjö,94859,94129.0,730
21,27,22,21.0,Botkyrka,94847,94606.0,241
22,28,23,23.0,Karlstad,94828,93898.0,930
23,29,24,24.0,Haninge,93690,92095.0,1595
24,30,25,25.0,Kristianstad,86217,85747.0,470
25,31,26,26.0,Kungsbacka,84930,84395.0,535
26,32,27,27.0,Solna,83162,82429.0,733
27,33,28,28.0,Järfälla,81274,79990.0,1284
28,34,29,29.0,Luleå,78549,78105.0,444
29,35,30,30.0,Sollentuna,73990,73857.0,133
30,36,31,31.0,Skellefteå,72840,72589.0,251
31,37,32,32.0,Täby,72755,71874.0,881
32,38,33,33.0,Kalmar,70329,69467.0,862
33,39,34,34.0,Mölndal,69901,69364.0,537
34,40,35,35.0,Karlskrona,66515,66622.0,-107
35,41,36,36.0,Varberg,65397,64601.0,796
36,42,37,37.0,Östersund,63985,63779.0,206
37,43,38,38.0,Norrtälje,63673,62622.0,1051
38,44,39,39.0,Gotland,60124,59686.0,438
39,45,40,40.0,Falun,59528,59406.0,122
40,46,41,41.0,Trollhättan,59249,59058.0,191
41,47,42,43.0,Nyköping,57071,56591.0,480
42,48,43,44.0,Skövde,56791,56366.0,425
43,49,44,42.0,Uddevalla,56787,56703.0,84
44,50,45,45.0,Örnsköldsvik,55807,55998.0,-191
45,51,46,47.0,Sundbyberg,52801,52414.0,387
46,52,47,46.0,Borlänge,52394,52590.0,-196
47,53,48,48.0,Hässleholm,52010,52145.0,-135
48,54,49,49.0,Sigtuna,49537,48964.0,573
49,55,50,50.0,Tyresö,48678,48333.0,345

In [ ]:
df_pop.head()

,index,Range 2020,Range 2019,County,Population 2020,Population 2019,Difference
0,6,1,1.0,Stockholm,975551,974073.0,1478
1,7,2,2.0,Göteborg,583056,579281.0,3775
2,8,3,3.0,Malmö,347949,344166.0,3783
3,9,4,4.0,Uppsala,233839,230767.0,3072
4,10,5,5.0,Linköping,164616,163051.0,1565

---

## 3. Cities in Sweden - gender (*)

We continue with the same Excel-file as in task 2, but now you should also read in the sheets "Kvinnor" and "Män" into two additional DataFrames. In this task, many operations are similar to all three datasets, try creating custom made functions to reuse as much code as possible.

&nbsp; a) Clean your data so that the head looks like this: (*)

Male: 

|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön   |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|:------|
|  0 |          81 |          83 | Ale      |            16256 |            16054 |     1.25825  | Man   |
|  1 |          64 |          64 | Alingsås |            20702 |            20646 |     0.271239 | Man   |
|  2 |         122 |         123 | Alvesta  |            10367 |            10339 |     0.270819 | Man   |
|  3 |         255 |         255 | Aneby    |             3503 |             3498 |     0.142939 | Man   |
|  4 |         169 |         168 | Arboga   |             7094 |             7114 |    -0.281136 | Man   |

Female: 

|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön    |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|:-------|
|  0 |          84 |          85 | Ale      |            15612 |            15348 |     1.72009  | Kvinna |
|  1 |          64 |          64 | Alingsås |            20900 |            20774 |     0.606527 | Kvinna |
|  2 |         123 |         123 | Alvesta  |             9857 |             9795 |     0.632976 | Kvinna |
|  3 |         255 |         255 | Aneby    |             3318 |             3350 |    -0.955224 | Kvinna |
|  4 |         165 |         164 | Arboga   |             6945 |             6973 |    -0.401549 | Kvinna |


&nbsp; b) Merge the male and female DataFrames vertically and set index to "Kommun". Note that there now should be 580 rows now.  (*)

|    | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön   |
|---:|:---------|-----------------:|-----------------:|-------------:|:------|
|  0 | Ale      |            16256 |            16054 |     1.25825  | Man   |
|  1 | Alingsås |            20702 |            20646 |     0.271239 | Man   |
|   ...  | ...       | ...  | ...   | ...  | ...    |
| 288 | Överkalix    |             1559 |             1578 |    -1.20406  | Kvinna |
| 289 | Övertorneå   |             2027 |             2065 |    -1.84019  | Kvinna |

&nbsp; c) Extract and change column name from the total DataFrame so that the head look like this: (*) 

|    | Kommun   |   Total Pop 2020 |   Total Pop 2019 |   Total förändring |
|---:|:---------|-----------------:|-----------------:|-------------------:|
|  0 | Ale      |            31868 |            31402 |           1.48398  |
|  1 | Alingsås |            41602 |            41420 |           0.439401 |
|  2 | Alvesta  |            20224 |            20134 |           0.447005 |
|  3 | Aneby    |             6821 |             6848 |          -0.394276 |
|  4 | Arboga   |            14039 |            14087 |          -0.34074  |

&nbsp; d) Merge this data with the data in b) so that the head look like this: (*)

| Kommun    |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön    |   Total Pop 2020 |   Total Pop 2019 |   Total förändring |
|:----------|-----------------:|-----------------:|-------------:|:-------|-----------------:|-----------------:|-------------------:|
| Stockholm |           482982 |           482220 |     0.158019 | Man    |           975551 |           974073 |           0.151734 |
| Stockholm |           492569 |           491853 |     0.145572 | Kvinna |           975551 |           974073 |           0.151734 |
| Göteborg  |           292505 |           290308 |     0.756782 | Man    |           583056 |           579281 |           0.65167  |
| Göteborg  |           290551 |           288973 |     0.546072 | Kvinna |           583056 |           579281 |           0.65167  |
| Malmö     |           175411 |           173543 |     1.07639  | Kvinna |           347949 |           344166 |           1.09918  |

&nbsp; e) Create barplots showing the gender populations of Swedens 10 largest and 10 smallest cities. (*) 
 
&nbsp; f) Create a pie chart showing the total male and female population in Sweden 2020. (*)

&nbsp; g) Create a barplot showing the cities with the five largest percentual gender difference in 2020. (**)

&nbsp; h) Create a barplot showing the top 5 cities with largest populational growth from 2019 to 2020 (**)

&nbsp; i) Feel free to investigate other questions you are interested in using these datasets. (*), (**)

<br/>

<details>

<summary>Hint</summary>

f) You need to process the data first. For example

- compute difference between males and females in 2020
- use this difference to compute the differences in percentage
- sort the values by this percentage difference
- use seaborn barplot to plot, with the gender as hue

</details>

<br/>

<details>

<summary>Answer</summary>

e)

<img src="../assets/population_gender.png" height="200"/>

f)

<img src="../assets/population_genders_pie.png" height="200"/>

g)

<img src="../assets/cities_largest_gender_diff.png" height="200"/>

h)

<img src="../assets/pop_change.png" height="200"/>

</details>