# Exercise 3: KPI and exploration data analysis

Ín this part iof the project I will come up with a few key performance indicators(KPI) within the data frames. I will see if i discover anything interesting from explorations.
These are the KPI i will explore:
- Which age group had the most total deaths? Was the group with the highest death rate have the highest infection rate?
- Show how the cases differed in different regions
- Which age group had the most vaccines and which types?

In [69]:
# importing relative packages that i may use within my explorations
import pandas as pd # used for creating dataframes
import numpy as np # used for mathematical functions
import plotly_express as px # I will use plotly express as i think it is great to show interactive graphs

----
### Which age group had the most total deaths? Was the group with highest death rate have the highest infection rate?

In [74]:
# importing the first data frame that i will use
df_age_groups = pd.read_excel("../Lab_Covid/Data/Folkhalsomyndigheten_Covid19.xlsx","Totalt antal per åldersgrupp")
df_age_groups.info() # Finding some info about the dataframe, there is no Nan

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Åldersgrupp                   11 non-null     object
 1   Totalt_antal_fall             11 non-null     int64
 2   Totalt_antal_intensivvårdade  11 non-null     int64
 3   Totalt_antal_avlidna          11 non-null     int64
dtypes: int64(3), object(1)
memory usage: 480.0+ bytes

In [75]:
df_age_groups

,Åldersgrupp,Totalt_antal_fall,Totalt_antal_intensivvårdade,Totalt_antal_avlidna
0,Ålder_0_9,138071,109,17
1,Ålder_10_19,355823,101,9
2,Ålder_20_29,418506,285,41
3,Ålder_30_39,493443,492,71
4,Ålder_40_49,474702,997,172
5,Ålder_50_59,378468,1932,523
6,Ålder_60_69,180079,2595,1422
7,Ålder_70_79,87096,2394,4654
8,Ålder_80_89,58170,612,8326
9,Ålder_90_plus,26677,21,5420
10,Uppgift saknas,545,6,4